@charset "UTF-8";



header > nav {
 background: #19a26e;
}

.custom-header-font {
 font-family: Vivaldi,"Playwrite CU", cursive;
  font-size: 50px;
  font-style: normal;
}

	.custom-header {
		height: auto;
		min-height: 120px;
	}

	.navbar-collapse {
		overflow: visible;
	}
	
	.navbar-collapse {
    transition: height 0.5s ease, transform 0.3s ease;
}

.navbar-collapse.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease, transform 0.3s ease;
}
.navbar-collapse.show {
    transition: height 0.5s ease, transform 0.3s ease;
}

#collapsibleNavbar > ul > li > .nav-item {
	background-color: #19a26e;
}


#collapsibleNavbar > ul > li.nav-item.btn:hover {
    background-color: #158f61;
}

#collapsibleNavbar > ul > li.nav-item.btn:focus,
#collapsibleNavbar > ul > li.nav-item.btn:active {
    outline: none;
    border: none; 
}

.btn-success {
	background: #19a26e;
	outline: none;
	border: none;
	
}
